<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wassup chat app</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
    <section class="chat__section">
        <div class="brand">
            <i class="fas fa-comment-dots"></i>
            <h1>Hola</h1>
        </div>
        <div class="message__area"></div>
        <div>
            <textarea class="msg-box" id="textarea" cols="30" rows="1" placeholder="Write a message..."></textarea>
        </div>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./javascripts/client.js"></script>
</body>

</html>